.app {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.sidebar {
  max-width: 200px;
}

.main-content {
  flex: 1;
}

.car-list {
  list-style: none;
  margin: 0;
  padding: 0;
  .car-list-item {
    margin: .25em 0;
    display: flex;
    flex-direction: column;
  }
}
