body {
  background-color: #707070;
}

.app {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  background-color: white;
  border-radius: 20px;
}

.sidebar {
  max-width: 200px;
  margin: 20px;
}

.main-content {
  margin: 20px;
  flex: 1;
}

.car-list {
  list-style: none;
  margin: 0;
  padding: 0;
  .car-list-item {
    margin: .25em 0;
    display: flex;
    flex-direction: column;
    position: relative;
    border-bottom: 1px dotted;
    transition: 200ms;
  }
  .car-list-item:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 5px rgba(20,20,20,.1);
    border: 0;
  }
  .car-list-item:last-child {
    border: 0;
  }
}

.car-list-item__link {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.loading {
  padding: 20px;
}
